@import "./common/fonts";
@import "./common/variables";
@import "./common/mixins";

%login-register {
  background: linear-gradient($primary-color, $secondary-color);
  @include flex(center, center, column);
  padding: 20px 40px;
  min-height: calc(100vh - 200px);
}
.add-post {
  @extend %login-register;
}
.add-post__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid $main-text-color;
  border-radius: 40px;
  color: $main-text-color;
  padding: 60px 68px 40px;
  min-height: 500px;
  @include flex(initial, space-around, column);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.6);
}
.add-post__container--form {
  @include flex(initial, initial, column);
}
.add-post__container--form label {
  @include flex(center, initial, initial);
  font-size: 14px;
}
.input {
  @include input(transparent, $main-text-color, 16px, $main-text-color, 50px);
}
.button {
  @include button(rgba(255, 255, 255, 0.2), $main-text-color, 20px, 50px);
  outline: none;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 600px) {
  .add-post__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
}
