@import "./common/fonts";
@import "./common/variables";
@import "./common/mixins";

.benefits {
  background-color: $secondary-color;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  .benefits__title {
    margin: 0px 20px 30px 20px;
    text-align: center;
    font-weight: bold;
  }
  .benefits__container {
    @include flex(stretch, space-evenly, initial);
  }
  .benefits__container--benefit {
    background-color: $primary-color;
    color: #ffffff;
    margin: 15px;
    padding: 15px;
    @include flex(center, center, column);
    border-radius: 25px;
  }
  .benefits__container--benefit > img {
    margin: 10px;
    @include widthAndHeight(70px, 70px);
    image-rendering: auto;
  }
  .benefits__container--benefit > h3 {
    text-align: center;
  }
}
