@import "./common/fonts";
@import "./common/variables";
@import "./common/mixins";

#hero {
  @include widthAndHeight(100%, 400px);
  background: linear-gradient($primary-color, $secondary-color);
  background-image: url("../images/hero-image.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  @include flex(center, left, initial);
}

.hero-container {
  width: 40%;
  margin-left: 10%;
}
