@import "./common/fonts";
@import "./common/variables";
@import "./common/mixins";

.hero {
  @include widthAndHeight(100%, 400px);
  background-image: url("../images/hero-image.png"),
    linear-gradient(rgb(110, 182, 216), rgb(19, 34, 53));
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  @include flex(center, left, initial);
}

.hero__container {
  width: 40%;
  margin-left: 10%;
}
